<div class="row">
  <div class="col-md-6">
    <h2 name="auditlog" id="auditlog">Audit Log</h2>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <h3>
    <% if not @selects %>
        <a href="?selects=true" style=""><span class="label label-default">Include selects</span></a>
      <% else %>
        <a href="?selects=false"><span class="label label-default">Exclude selects</span></a>
      <% end %>
    </h3>
  </div>
</div>

<table data-auto="true" data-server="true" class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Record time</th>
      <th>User</th>
      <th>Transaction ID</th>
      <th>Query</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
