<h2>Disk Space Usage</h2>
<table data-auto="true" class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th class="text-right">Node</th>
      <th class="text-right">Usage %</th>
    </tr>
  </thead>
  <tbody>
    <% @disks.each do |disk| %>
      <tr>
        <% if disk["pct"] == 0 %>
          <td class="text-right"><%= disk["node"] %></td>
          <td class="text-right">n/a</td>
        <% else %>
          <td class="text-right"><%= disk["node"] %></td>
          <td class="text-right"><%= "%.2f%" % (disk["pct"].to_f) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="total success">
      <td class="text-right">Average: </td>
      <td class="text-right"><%= "%.2f%" % (100 * @disks.map { |d| d["pct"].to_f}.sum / (@disks.size * 100))  %></td>
    </tr>
  </tfoot>
</table>
