<div class="wrapper flush">
  <section class="container">
		<p>
			<h1>I'm sorry, Dave!</h1>
		  <h3><%= @error %></h3>
		  <b>Dave Bowman:</b> Open the pod bay doors, HAL.<br />
      <b>HAL:</b> I'm sorry, Dave. I'm afraid I can't do that. <br />
      <b>Dave Bowman:</b> What's the problem? <br />
      <b>HAL:</b> I think you know what the problem is just as well as I do. <br />
      <b>Dave Bowman:</b> What are you talking about, HAL? <br />
      <b>HAL:</b> This mission is too important for me to allow you to jeopardize it. <br />
      <b>Dave Bowman:</b> I don't know what you're talking about, HAL. <br />
      <b>HAL:</b> I know that you and Frank were planning to disconnect me, and I'm afraid that's something I cannot allow to happen.
		</p>
	</section>
</div>