<div class="wrapper flush">
  <section class="container">
		<p>
		  <%= img '/images/404.jpg', border: 0, align: 'left',
		      width: 450, height: 300, alt: "POTUS and FLOTUS can't find it either!", style: 'margin-right: 2em' %>
			<h1>Sorry!</h1>
		  <h3><%= @error %></h3>
		</p>
	</section>
</div>