<h2 name="queries" id="queries">Running Queries</h2>

<table style="display: none;" data-ajax="/queries/running" id="queries_running_tbl" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Status</th>
        <th>Start time</th>
        <th>Duration</th>
        <th>Transaction</th>
        <th>Query</th>
      </tr>
    </thead>
    <tbody></tbody>
</table>

<%= js :queries %>
