<h2>Login</h2>

<div style="text-align: center;">
  <form action="<%= url '/auth/google_oauth2' %>" method="get">
    <button class="btn btn-xlarge btn-google-plus"><i class="fa fa-google"></i> | Login with Google</button>
  </form>
</div>
